body
{
    font-family:Verdana;
    background-color: #78BEBF;
    color: black;
    text-align: center;
}

.head h1
{
    font-size: 3em;
    
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 20px;

}

#board
{
    width: 500px;
    height: 500px;
    border: 10px solid blueviolet;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img
{
    width: 98px;
    height: 98px;
    border: 1px solid black;
}

.foot
{
    font-size: 0.8em;
    text-align: center;
}